@use '../abstract/variables' as vars;
@use '../abstract/mixins' as mixins;

.patient-details {
  @include mixins.card;
  max-width: 800px;
  margin: 2rem auto;

  h1 {
    color: vars.$text-primary;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    color: vars.$text-primary;
    margin-bottom: 1rem;
  }

  .contact-info, .appointment-history, .dental-chart, .actions {
    margin-bottom: 2rem;
  }

  .appointment-history {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        background-color: vars.$bg-secondary;
        border-radius: vars.$border-radius;
        padding: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .btn {
      flex: 1;
    }
  }
}
